
.news-wrapper {
 max-width: 1200px;       
  margin: 0 auto;         
  text-align: center;
  padding-top: 50px;          
}


.news-title {
text-align: center;
margin: 0 0 42px 0;
font-size: 2.2rem;
font-weight: 600;
color: #fff;
border: 2px solid #fff;
display: inline-block;
padding: 10px 40px;
border-radius: 10px;
background: rgba(0, 0, 0, 0.4);
backdrop-filter: blur(4px);
} 
 

.news-row {
  display: flex;
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 20px;               
}


.news-card {
  width: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.news-card:hover {
  transform: translateY(-8px); 
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.news-card img {
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}


    

