.projects-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.projects-title {
  text-align: center;
  margin: 0 0 42px 0;
  font-size: 2.2rem;
  font-weight: 600;
  color: #ffffff;
  border: 2px solid #fff;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

.projects-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; 
  gap: 20px; 
}


.projects-row .product-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.projects-row .product-card img {
  width: 100%;
  height: 400px; 
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.projects-row .product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(255, 255, 255, 0.15);
}
