.fondo-admin {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0); 
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.product-list-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}