.product-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 12px 18px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.product-row .product-row-thumb img {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover !important;
  border-radius: 6px;
}


.product-row-name {
  flex: 1;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
}

/* Botones */
.product-row-actions {
  display: flex;
  gap: 10px;
}


.search-bar-admin {
  width: 80% !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}